.login__principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .login__principal {
    width: 45%;
  }
}

@media screen and (min-width: 1080px) {
  .login__principal {
    width: 30%;
  }
}
