.cabecalho__logo{
    background: url("../../assets/img/Logo.svg") center / cover no-repeat;
    height: 28px;
    width: 100px;
}

@media screen and (min-width: 1080px){
    .cabecalho__logo{
        background: url("../../assets/img/logo-maior.svg") center / cover no-repeat;
        height: 50px;
        width: 176px;
    }

}