.banner{
    background: url("../../assets/img/banner.png") center / cover no-repeat;
    height: 192px;
    align-items: flex-end;
}

@media screen and (min-width: 1080px){
    .banner{
        height: 350px;
        padding-bottom: 25px;
    }
}