.contato__cabecalho{
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px){
    .contato__cabecalho{
        width: 40%;
        text-align: left;
        justify-content: left;
    }
}

@media screen and (min-width: 1080px){
    .contato__cabecalho{
        display: flex;
        justify-content: space-between;
        width: 45%;
    }
}