.criar__form {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 350px;
  justify-content: center;
  margin: 100px auto;
  padding: 1rem;
  width: 450px;
}