.criar__form {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  width: 60%;
}
